<footer>
    <table class="soci">
        <tr>
            <td><a href="https://www.facebook.com/ISMIRConf" class="suci"><i class="fa-brands fa-facebook"></i></a></td>
            <td><a href="https://www.instagram.com/ismir_conference" class="suci"><i class="fa-brands fa-instagram"></i></a></td>
            <td><a href="https://twitter.com/ISMIRConf" class="suci"><i class="fa-brands fa-twitter"></i></a></td>
            <td><a href="https://www.linkedin.com/company/ismir" class="suci"><i class="fa-brands fa-linkedin"></i></a></td>
        </tr>
    </table>
    <p class="cupri">Disclaimer: The content of the website is subject to change any time without prior notice to any user of it. The information hyperlinked or referred to this website are neither investigated nor analyzed by the conference organizers. No warranty or representation, expressed or implied, is given as to the accuracy or completeness of that information. In no event will the conference organizers accept any liability with regard to the information contained in this website or any other hyperlinked or referred to websites.</p>
</footer>