<header>
  <div class="topnav" id="myTopnav">
      <a class="huliln" href="../index"><img class="huli" src="https://sites.google.com/site/2018icbseecopy/_/rsrc/1531993291284/home/icbsee-logo.png"></a>
      <!-- <a href="../diversity/mentoring">Venue</a> -->
      <!-- <a href="../diversity/mentoring">Timing</a> -->
      <div class="dropdown">
        <button class="dropbtn">Conference
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../calls/cfp">Keynote Lectures</a>
          <a href="../calls/cft">Tutorials</a>
          <a href="../calls/cfs">Venue</a>
          <a href="../calls/cfs">Downloads</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Authors & Listeners
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Registered Articles</a>
          <a href="../calls/cfp">Call for Papers</a>
          <a href="../program">Special Sessions</a>
          <a href="../sponsors">Important Dates</a>
          <a href="../program">Publication</a>
          <a href="../calls/cfs">Registration</a>
          <a href="../calls/cfs">Accommodation</a>
          <a href="../calls/cfs">Awards and Contests</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">People
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../calls/cfp">Advisory Committee</a>
          <a href="../calls/cft">Organizing Committee</a>
          <a href="../calls/cfs">Steering Committee</a>
          <a href="../calls/cfs">Reviewer Board</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Past Conferences
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../calls/cfp">ICBSEE 2018</a>
        </div>
      </div>
      <a href="javascript:void(0);" style="font-size:1em;" class="icon" onclick="myHambu()">&#9776;</a>
  </div>
  <hr>
  <div class="headline">
  </div>
  <hr>
</header>